<h1> My name is <%= @name%> and my age is <%= @age %></h1>

<div> <img style = 'border: 5px dashed pink' src='https://icatcare.org/app/uploads/2018/07/Thinking-of-getting-a-cat.png' alt='cute cat'> </div>
